/******************************************************************
	Fonts
******************************************************************/
@import url(http://fonts.googleapis.com/css?family=Open+Sans:300,400,700);								
									
/******************************************************************
	This is the CSS Reset
******************************************************************/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
	background: #282828;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after, q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
html, body {
	width: 100%;
	height: 100%;
	letter-spacing: 0.025em;
	-webkit-font-smoothing: subpixel-antialiased;
}

/******************************************************************
	Text Selection Styles
******************************************************************/
::selection {
	background: #ff3b5b;
	color: #fff;
}
::-moz-selection {
	background: #ff3b5b;
	color: #fff;
}
::-webkit-selection {
	background: #ff3b5b;
	color: #fff;
}
a {
	outline: none;
}

/******************************************************************
	General
******************************************************************/								
a {
	font-family: "Open Sans", Verdana, Arial, sans-serif;
	text-decoration: none;
	font-size: 8pt;
	color: #616161;
}
a:hover {
	color: #ff3b5b;
}
b {
	font-weight: bold;
}
p {
	font-family: "Open Sans", Verdana, Arial, sans-serif;
	line-height: 1.6em;
	color: #848484;
	font-size: 12px;
}
h1 {
	font-family: "Open Sans", Verdana, Arial, sans-serif;
	line-height: 1.6em;
	color: #454544;
	text-decoration: none;
	font-size: 40px;
}
h2 {
	font-family: "Open Sans", Verdana, Arial, sans-serif;
	line-height: 1.6em;
	color: #454544;
	text-decoration: none;
	font-size: 20px;
}
h3 {
	font-family: "Open Sans", Verdana, Arial, sans-serif;
	line-height: 1.6em;
	color: #454544;
	text-decoration: none;
	font-size: 18px;
}
h4 {
	font-family: "Open Sans", Verdana, Arial, sans-serif;
	line-height: 1.6em;
	color: #454544;
	text-decoration: none;
	font-size: 16px;
}
h5 {
	font-family: "Open Sans", Verdana, Arial, sans-serif;
	line-height: 1.6em;
	color: #454544;
	text-decoration: none;
	font-size: 14px;
}
h6 {
	font-family: "Open Sans", Verdana, Arial, sans-serif;
	line-height: 1.6em;
	color: #454544;
	text-decoration: none;
	font-size: 12px;
}
.hidden {
	display: none;
}
.block {
	display: block;
}
.left {
	float: left;
}
.right {
	float: right;
}
.clear {
	clear: both;
}

/******************************************************************
	Colors
******************************************************************/
.white {
	color: #FFF;
}
.color {
	color: #ff3b5b;
}
.dark-gray {
	color: #4b4b4b;
}
.mid-gray {
	color: #ababab;
}
.light-gray {
	color: #cfcfcf;
}

/******************************************************************
	Main
******************************************************************/
.content {
	max-width: 960px;
	width: 80%;
	margin-left: auto;
	margin-right: auto;
}
.content.sidebar {
	width: 659px;
	float: left;
	margin-top: 40px;
	border-right: 1px solid #e7e7e7;
}
.sidebar {
	width: 300px;
	float: right;
}
blockquote {
	font-family: "Open Sans", Verdana, Arial, sans-serif;
	font-size: 28px;
	line-height: 60px;
	width: 100%;
	background-color: #f6f6f6;
	height: 100px;
	text-align: center;
	padding-top: 40px;
	color: #616161;
	font-weight: 300;
	font-style: italic;
}
blockquote:before {
	content: '"';
	font-weight: bold;
	font-size: 36px;
}
blockquote:after {
	content: '"';
	font-weight: bold;
	font-size: 36px;
}
div.pagetitle {
	width: 100%;
	background-color: #ff3b5b;
	height: 120px;
}
div.pagetitle h1 {
	line-height: 120px;
	color: #FFF;
	text-align: center;
}
p.main {
	font-size: 15px;
	text-align: center;
	margin: 50px auto;
	font-weight: 400;
}
div.section.divider {
	width: 100%;
	height: 40px;
	border-top: 1px solid #ff3b5b;
	text-align: center;
	margin-top: 100px;
	margin-bottom: 40px;
}
div.section.divider.single {
	border-top: 1px solid #ff3b5b;
	margin-top: 150px;
}
div.section.divider h2 {
	font-weight: 400;
	color: #ff3b5b;
	background-color: #282828;
	margin-top: -20px;
	width: 300px;
	margin-left: auto;
	margin-right: auto;
	font-size: 24px;
}
div.section.divider h3 {
	font-weight: 400;
	color: #ff3b5b;
	background-color: #282828;
	width: 300px;
	margin-left: auto;
	margin-right: auto;
}
a.scroll {
	width: 100%;
	display: block;
}
div.icon {
	font-size: 80px;
	color: #FFF;
}
.front div.icon {
	line-height: 210px;
	text-align: center;
}

/******************************************************************
	Home Page
******************************************************************/
div.section.full {
	margin: 40px 0px;
	clear: both;
	width: 960px;
	overflow: hidden;
}
div.section.full li {
	width: 220px;
	margin-top: 20px;
	margin-right: 26px;
}
div.section.block {
	width: 220px;
	height: 185px;
	background-color: #f6f6f6;
	text-align: center;
	float: left;
	cursor: pointer;
}
div.section.block h5 {
	margin-top: 15px;
}
div.section.block h6 {
	color: #838282;
}
div.section.block img {
	width: 220px;
	height: 185px;
	display: block;
	position: absolute;
	margin-top: 0px;
	margin-left: 0px;
	z-index: 1;
}
div.section.block .content {
	width: 220px;
	height: 85px;
	position: absolute;
	z-index: 5;
	background-color: #f6f6f6;
	margin-top: 104px;
}
div.section.block .hover {
	width: 220px;
	height: 185px;
	position: relative;
	z-index: 10;
	display: none;
}
div.section.block .hover.content {
	width: 220px;
	height: 182px;
	position: relative;
	display: block;
	background-color: rgba(96, 147, 231, 0.6);
	z-index: 10;
	border-bottom: 3px solid #ff3b5b;
	margin-top: 0px;
}
div.section.block .hover.content h2 {
	padding-top: 40px;
	font-size: 40px;
	font-weight: 400;
	color: #FFF;
}
div.section.block .hover.content h5 {
	font-weight: 400;
	color: #FFF;
}
div.section.block .hover.content h6 {
	font-weight: 400;
	color: #FFF;
}
div.section.full li:last-child  {
	margin-right: 0px;
}
div.section.block.blog {
	text-align: left;
	height: 220px;
}
div.section.block.blog .hover {
	left: -10px;
}
div.section.block.blog img {
	height: 220px;
}
div.section.block h2 {
	text-align: center;
}
div.section.block.blog h5, div.section.block.blog h6, div.section.block.blog a {
	margin-left: 20px;
}
div.section.block.blog .content h5 {
	margin-top: 8px;
}
div.section.block.blog .content {
	height: 220px;
}
div.section.block.blog .hover {
	height: 217px;
}
a.readmore {
	display: block;
	margin-top: 5px;
}
div.section.block.blog .hover a.readmore {
	color: #FFF;
}

/******************************************************************
	Portfolio
******************************************************************/
ul.portfoliofilter {
	width: 100%;
	text-align: center;
	margin-bottom: 40px;
}
li.filter {
	font-family: "Open Sans", Verdana, Arial, sans-serif;
	line-height: 1.6em;
	color: #454544;
	background-color: #efefef;
	text-decoration: none;
	font-size: 12px;
	display: inline-block;
	font-weight: 300;
	text-transform: uppercase;
	cursor: pointer;
	padding: 5px 15px;
	border-radius: 3px;
	margin: 0px 5px;
}
li.filter:hover {
	color: #ff3b5b;
}
li.filter.active {
	font-weight: 700;
	background-color: #ff3b5b;
	color: #FFF;
}
ul.portfolio li {
	width: 25%;
	float: left;
	display: none;
	opacity: 0;
}
.portfolioitem {
	display: block;
	padding-bottom: 85px;
	position: relative;
}
.portfolioitem img {
	width: 99%;
	max-height: 265px;
	vertical-align: middle;
}
.portfolioitem2 {
	display: block;
	padding-bottom: 85px;
	position: relative;
	height: 200px;
}
div.portfoliopad {
	position: absolute;
	top: 0;
	height: 175px;
	width: 100%;
	text-align: center;
	overflow: hidden;
}
.portfolioitem2 img {
	width: 99%;
	margin: auto;
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;
}
.favicon1 {
	display: block;
	padding-bottom: 85px;
	position: relative;
	height: 175px;
}
div.favicon1a {
	position: absolute;
	top: 0;
	height: 150px;
	width: 100%;
	text-align: center;
	overflow: hidden;
}
.favicon1 img {
	margin: auto;
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;
}
.portfolioitem2a {
	display: block;
	padding-bottom: 85px;
	position: relative;
	height: 265px;
}
div.portfoliopada {
	position: absolute;
	top: 0;
	height: 240px;
	width: 100%;
	text-align: center;
	overflow: hidden;
}
.portfolioitem2a img {
	width: 99%;
	margin: auto;
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;
}
.portfoliohover {
	-webkit-transition: background-color 600ms ease;
	-moz-transition: background-color 600ms ease;
	-o-transition: background-color 600ms ease;
	-ms-transition: background-color 600ms ease;
	transition: background-color 600ms ease;
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	z-index: 100;
}
.portfoliohover .info {
	position: absolute;
	bottom: 0;
	margin-bottom: 25px;
	width: 100%;
	text-align: center;
}
.portfoliohover h1 {
	color: #FFF;
	font-size: 150px;
	font-weight: 300;
	-webkit-transition: opacity, color 600ms ease;
	-moz-transition: opacity, color 600ms ease;
	-o-transition: opacity, color 600ms ease;
	-ms-transition: opacity, color 600ms ease;
	transition: opacity, color 600ms ease;
	opacity: 0;
}
.portfoliohover h5 {
	color: #ff3b5b;
	text-transform: uppercase;
}
.portfoliohover h6 {
	color: #ababab;
	font-weight: 300;
}
ul.portfolio li:hover .portfoliohover {
	background-color: #ff3b5b;
}
ul.portfolio li:hover .portfoliohover h5, ul.portfolio li:hover .portfoliohover h6, ul.portfolio li:hover .portfoliohover h1 {
	opacity: 1;
	color: #FFF;
}

/******************************************************************
	Footer
******************************************************************/
.footer {
	width: 100%;
	margin-top: 50px;
	height: 50px;
	text-align: center;
	line-height: 50px;
	background-color: #ff3b5b;
}
.footer h6 {
	line-height: 50px;
	color: #FFF;
}
